<br>
<br>

<div class="container">

        <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Overall Progress</h5>
                      <p class="card-text">Project name: ASPIIT</p>
                      <p class="card-text">80% completed Yet</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Objective Status</h5>
                      <p class="card-text">Objective Completed</p>
                        <ul>
                            <li>{{person}}</li>
                           
                        </ul>
                        <p class="card-text">Objective Pending</p>
                        <ul>
                            <li>Objective 4</li>
                            <li>Objective 5</li>
                            <li>Objective 6</li>
                        </ul>
                      
                    </div>
                  </div>
                </div>
                <div class="col">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Pending Tasks</h5>
                            <ul>
                                    <li>Objective 4</li>
                                    <li>Objective 5</li>
                                    <li>Objective 6</li>
                                </ul>
                        
                          </div>
                        </div>
                      </div>
              </div>
</div>

