<!-- <mwl-gauge
      [max]="100"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      [value]="50"
      [animated]="true"
      [animationDuration]="1">
    </mwl-gauge>
<div class="gauges-container">
    <mwl-gauge
      [max]="100"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      [label]="percentageValue"
      [value]="gaugeValues[1]"
      [animated]="true"
      [animationDuration]="1">
    </mwl-gauge>
    
    <mwl-gauge
      class="seven"
      [max]="100"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"
      [showValue]="false"
      [value]="gaugeValues[6]"
      [animated]="true"
      [animationDuration]="1">
    </mwl-gauge>
  </div> -->




  <!-- <div class="container">
    <div class="card">
      <form (ngSubmit)=" OnSubmit(formone)" #formone="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" ngModel>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" ngModel>
        </div>
        <div>
          <label for="exampleInputPassword1">Select a Team</label>
          <select class="form-control form-control-sm"  (change)="selectedPerson($event.target.value)" name="selectedTeam" ngModel>
          
              <option *ngFor='let person of persons' [value]="person.DeptId">{{person.Username}}</option>
          
          </select>
        </div>
      
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
  
  </div> -->
  






<app-navbar></app-navbar>
<app-objective-overall></app-objective-overall>
<app-objectives></app-objectives>
<p>home works!</p>
